.background {
  background-color: #ffffff;
  min-height: 65vh;
  width: 100%;
  margin-top: 99.84px;
}
.main-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.components-container {
  width: 1024px;
  margin: 0px 58px 0px 58px;
}
.link-sent-container {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 664px;
}
.image-container {
  width: 500px;
  height: 458.75px;
  margin: 100px 0px 0px;
  position: absolute;
}
.img2 {
  width: 500px;
  height: 458.75px;
}
.link-sent-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 420px;
  z-index: 1000;
}
.main-heading {
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 42px;
  text-align: left;
  color: #000;
  margin: 140px 0px 0px 0px;
  line-height: 54px;
}
.secondary-heading {
  font-family: muli, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 10px 0px 20px;
  line-height: 26px;
}
.download-app-container {
  width: 195px;
  position: relative;
}
.img3 {
  width: 195px;
  height: 66px;
}
